# Ambiente virtual
venv/

# Ficheiros python compilados
__pycache__/
*.pyc

# configurações do vscode
.vscode/

# ficheiros temporários
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

# Ficheiros de configuração sensíveis
.env

# Base de dados SQLite Local
database.db
*.db